
REQUIREMENTS

The MHCBI pipeline only needs gfortran and some linux test processing tools (cut, grep, awk, gawk, sed and vim). 
However the MHCBI uses several specialized softwares that rely on another kind of requirements.


Before starting any procedure regarding MHCBI pipeline, first of all type:

  $ sudo apt update
  $ sudo apt install build-essential
  $ sudo apt install gfortran
  $ sudo apt install git
 

____________________________
*For Dowser installation:

You have to install csh prior to do Dowser.
Go to https://github.com/caraortizmah/dowser/blob/master/README.md for further information.

____________________________
*For OpenBabel:
Go to http://openbabel.org/wiki/Main_Page for installing it. 
Further information about releases https://github.com/openbabel/openbabel/releases

___________________________
*For VMD:

Go to https://www.ks.uiuc.edu/Research/vmd/current/ig/ig.html for further information.
A helpful page for installing could be:
1. https://www.biostars.org/p/196147/

____________________________
For Propka 3.1

For this program you need python 3.6 or higher and pip (python package installer) for installing propka 3.1.
Go to https://github.com/jensengroup/propka for further information.

____________________________
*For MOPAC:

Due to installing MOPAC is a straightforward process (locating properly the MOPAC executable provided at http://openmopac.net/downloads.html), you only need to configure your .bashrc or .bash_profile typing:

  $ export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/mopac/mopac_cuda_5.5_libs/

In this path the following files must be there:
libcublas.so.5.5  libcudart.so.5.5  libiomp5.so

Further information at http://openmopac.net/Manual/Requirements_for_GPU_MOPAC.html

____________________________
*For GAMESS:

This is a general ab initio quantum chemistry package. It is not easy to install at all.
Go to https://www.msg.chem.iastate.edu/gamess/download.html for downloading the source code.
For installing GAMESS there are several pages that could be useful. You can clear up any doubts reading several of those pages below:

1. https://www.webmo.net/support/gamess_linux.html
2. https://sites.google.com/site/rangsiman1993/comp-chem/program-install/install-gamess
3. http://drphilipcarlson.weebly.com/installing-gamess.html
4. http://katter-world.blogspot.com/2012/04/installing-gamess-on-ubuntu-64-bit-zz.html

____________________________
*For GUI Facio:

You need to install wine for executing Facio. Due to Facio is not open source only you have to launch Facio through wine.
You can use the following page for wine:
1. https://vitux.com/how-to-install-wine-on-ubuntu/

Go to docs/Install_documentation.html for configuring and running the MHCBI pipeline.
