
REQUIREMENTS

The MHCBI pipeline only needs gfortran and some linux test processing tools (cut, grep, awk, gawk, sed and vim). 
However the MHCBI uses several specialized softwares that rely on another kind of requirements.


Before starting any procedure regarding MHCBI pipeline, first of all type:

  $ sudo apt update
  $ sudo apt install build-essential
  $ sudo apt install gfortran
 

*For Dowser installation:

Go to https://github.com/caraortizmah/dowser/blob/master/README.md


*For MOPAC installation:

Due to installing MOPAC is a straightforward process (locating properly the MOPAC executable provided at http://openmopac.net/downloads.html), you only need to configure your .bashrc or .bash_profile typing:

  $ export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/mopac/mopac_cuda_5.5_libs/

In this path the following files must be there:

libcublas.so.5.5  libcudart.so.5.5  libiomp5.so

Further information at:

http://openmopac.net/Manual/Requirements_for_GPU_MOPAC.html


